/* General */
$fontSize:14px;
$borderRadius:12px;
$transitionDuration:.2s;
$dark_main : #05207c;
$main : #1d4ae0 ;
$title_color: #51629b ;
$text_color : #605b81;
$gray_4 : #ced6ee ;
$gray_5 : #eef0f5 ;
$dark_gray_blur : #d1191f35 ;
$dark_gray : #191f35 ;
$gray_2 : #7387ca ;
$disable_gray : #b6bac8 ;
$error : #ff4158 ;
$success : #12c158;
$gray_3 : #7f8ec0 ;
$second : #7f8ec0 ;
$secondary : #425fc0;
$bronze : #ff7759 ;
$white : #ffffff ;
$silver : #a7aed0 ;
$gray_6 : #f2f2f2;
$oil_02 : #f7f7f7;
$oil_03 : #e6e6e6 ;
$gold : #ffb800 ;
$icon_color_1 : #ff9c64;